{{#eq this.field_type 'input'}}
    <input
      type="{{#if this.type}}{{this.type}}{{else}}text{{/if}}"
      name="{{#if this.name}}{{this.name}}{{else}}field_name{{/if}}"
      {{#if this.placeholder}}
        placeholder="{{this.placeholder}}"
      {{/if}}
      {{#if this.class}}
        class="{{this.class}}"
      {{/if}}
      {{#if this.id}}
        id="{{this.id}}"
      {{/if}}
    />
{{/eq}}

{{#eq this.field_type 'label'}}
  <label
    {{#if this.label_for}}for="{{this.label_for}}"{{/if}}
    {{#if this.label_class}}class="{{this.label_class}}"{{/if}}
    {{#if this.label_id}}id="{{this.label_id}}"{{/if}}
    >
    {{this.context}}
  </label>
{{/eq}}


{{#eq this.field_type 'input-file'}}
  <div class="input-type-file {{this.field_class}}">
    <input type="file" name="{{this.name}}" id="{{this.id}}" class="inputfile {{this.input_class}}" data-multiple-caption="{count} files selected"
      multiple />
    <label for="{{this.id}}" class="primary">
      <span></span>
      <strong class="primary">
        <i class="fa fa-upload"></i>{{this.field_label}}</strong>
    </label>
  </div>
{{/eq }}

{{#eq this.field_type 'input-radio'}}
  <div class="radio {{this.parent_class}}">
    {{> modules/form field_type="input" type="radio" placeholder=this.placeholder class=this.input_class id=this.id }}
    {{> modules/form field_type="label" label_for=this.id class=this.label_class id=this.label_id context=this.field_label}}
  </div>
{{/eq }}

{{#eq this.field_type 'input-checkbox'}}
  <div class="checkbox {{this.parent_class}}">
    {{> modules/form field_type="input" type="checkbox" placeholder=this.placeholder class=this.input_class id=this.id }}
    {{> modules/form field_type="label" label_for=this.id class=this.label_class id=this.label_id context=this.field_label}}
  </div>
{{/eq }}


{{#eq this.field_type 'select'}}
  <div class="input-type-select {{this.parent_class}}">
    <select name="{{this.name}}" id="{{this.select_id}}" class="{{this.select_class}}">
      <option value="">{{#if this.placeholder}}{{this.placeholder}}{{else}}Select{{/if}}</option>
      {{#each this.select_values}}
        <option value="{{dashcase this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
{{/eq}}

{{#eq this.field_type 'form-field-input'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    {{#if this.field_label}}
      {{> modules/form field_type='label' context=this.field_label class=this.label_class id=this.label_id}}
    {{/if}}
    {{> modules/form field_type='input' type=this.type name=this.name class=this.input_class id=this.input_id}}
  </div>
{{/eq}}

{{#eq this.field_type 'form-field-select'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    {{#if this.field_label}}
      {{> modules/form field_type='label' context=this.field_label class=this.label_class id=this.label_id}}
    {{/if}}
    {{> modules/form field_type='select' name=this.name id=this.id class=this.input_class placeholder=this.placeholder}}
  </div>
{{/eq}}

{{#eq this.field_type 'form-field-textarea'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    {{#if this.field_label}}
      {{> modules/form field_type='label' context=this.field_label class=this.label_class id=this.label_id}}
    {{/if}}
    <textarea name="{{this.name}}" id="{{this.textarea_id}}" placeholder="{{this.placeholder}}"></textarea>
  </div>
{{/eq}}


{{#eq this.field_type 'form-field-datepicker'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    <label {{#if this.label_class}}class="{{this.label_class}}"{{/if}}> {{#if this.field_label}} {{this.field_label}} {{else}} Datepicker {{/if}}</label>
    <div class="input-group {{this.input_group_class}}">
      <input type="text" placeholder="Datepicker" data-toggle="datepicker">
      <div class="addon datepicker-trigger">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
{{/eq}}

{{#eq this.field_type 'form-field-timepicker'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    <label {{#if this.label_class}}class="{{this.label_class}}" {{/if}}>{{#if this.field_label}} {{this.field_label}} {{else}} Timepicker {{/if}}</label>
    <div class="input-group {{this.input_group_class}}">
      <input type="text" placeholder="12:00 am" class="timepicker">
      <div class="addon timepicker-trigger">
        <i class="fa fa-clock-o"></i>
      </div>
    </div>
  </div>
{{/eq}}

{{#eq this.field_type 'form-field-addon'}}
  <div class="form-field {{#if mandatory}}mandatory{{/if}} {{this.field_class}}">
    {{#if this.field_label}}
      {{> modules/form field_type='label' context=this.field_label class=this.label_class id=this.label_id}}
    {{/if}}
    <div class="input-group {{this.input_group_class}}">
      {{#eq this.placement 'start'}}
        <div class="addon">{{this.addon_text}}</div>
        {{> modules/form field_type="input" type=this.type name=this.name class=this.input_class id=this.input_id }}
      {{/eq}}
      {{#eq this.placement 'end'}}
        {{> modules/form field_type="input" type=this.type name=this.name class=this.input_class id=this.input_id }}
        <div class="addon">{{this.addon_text}}</div>
      {{/eq}}
    </div>
  </div>
{{/eq}}